src/main/mule/lv-digital-appointments-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
    <http:listener-config name="lv-digital-appointments-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${http.port}" />
    </http:listener-config>
    <http:request-config name="http-request-config" basePath="${implementation.path}" enableCookies="false">
        <http:request-connection host='#[vars.changedHost]' port="#[vars.changedPort]"
                                 protocol="${implementation.protocol}"/>
    </http:request-config>
    <apikit:config name="lv-digital-appointments-api-config" api="resource::cdad1857-e12b-4786-ad75-ff2e6a5c4237:lv-digital-appointments-api:1.0.0:oas:zip:lv-digital-appointments-api.yaml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" queryParamsStrictValidation="true"/>
	<configuration-properties doc:name="Configuration properties" doc:id="c142049d-e630-419f-9e1d-a1a47e1fdadf" file="config.yaml" />
	<api-gateway:autodiscovery apiId="${api.id}" doc:name="API Autodiscovery" doc:id="1fe15f56-50d3-44ca-a4e0-7a02c04d73be" flowRef="lv-digital-appointments-api-main" />
	<flow name="lv-digital-appointments-api-main">
        <http:listener config-ref="lv-digital-appointments-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        	
          
        <apikit:router config-ref="lv-digital-appointments-api-config" />
        <logger level="INFO" doc:name="Logger" doc:id="426ddb15-8879-4f0e-8532-00d8a8a6ecc1" />
		<error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="lv-digital-appointments-api-console">
        <http:listener config-ref="lv-digital-appointments-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="lv-digital-appointments-api-config" />
        <logger level="INFO" doc:name="Logger" doc:id="845bdc8a-e555-419a-84e6-ede7cf88e1ed" />
		<error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\(locale)\storeNextAvailibility\(storeId):lv-digital-appointments-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="locale">attributes.uriParams.'locale'</ee:set-variable>
                <ee:set-variable variableName="storeId">attributes.uriParams.'storeId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\(locale)\storeNextAvailibility\(storeId):lv-digital-appointments-api-config" />
    </flow>
    <flow name="get:\(locale)\storeSlotInfo\(storeIds):lv-digital-appointments-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="locale">attributes.uriParams.'locale'</ee:set-variable>
                <ee:set-variable variableName="storeIds">attributes.uriParams.'storeIds'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\(locale)\storeSlotInfo\(storeIds):lv-digital-appointments-api-config" />
    </flow>
    <flow name="get:\(locale)\storesAvailabilities\(storeIds):lv-digital-appointments-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="locale">attributes.uriParams.'locale'</ee:set-variable>
                <ee:set-variable variableName="storeIds">attributes.uriParams.'storeIds'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\(locale)\storesAvailabilities\(storeIds):lv-digital-appointments-api-config" />
    </flow>
    <flow name="post:\(locale)\cancel:application\json:lv-digital-appointments-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="locale">attributes.uriParams.'locale'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="post:\(locale)\cancel:application\json:lv-digital-appointments-api-config" />
    </flow>
    <flow name="post:\(locale)\confirm:application\json:lv-digital-appointments-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="locale">attributes.uriParams.'locale'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="post:\(locale)\confirm:application\json:lv-digital-appointments-api-config" />
    </flow>
    <flow name="post:\(locale)\preBook:application\json:lv-digital-appointments-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="locale">attributes.uriParams.'locale'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="post:\(locale)\preBook:application\json:lv-digital-appointments-api-config" />
    </flow>
	<flow name="common-proxy-flow" doc:id="c50dcdb7-a49c-437c-9691-4aaf5bb1325e" >

			<ee:transform doc:name="fixing-destination-http-values" doc:id="45f953fa-54f2-4224-bad3-7bd1070310ad">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="changedHost"><![CDATA[%dw 2.0
output application/java
---
p((splitBy(attributes.maskedRequestPath, "/")[1]) ++ ".host")]]></ee:set-variable>
				<ee:set-variable variableName="changedPort"><![CDATA[%dw 2.0
output application/java
---
p((splitBy(attributes.maskedRequestPath, "/")[1]) ++ ".port")]]></ee:set-variable>
				<ee:set-variable variableName="changedPath"><![CDATA[%dw 2.0
output application/java
---
attributes.maskedRequestPath replace ((splitBy(attributes.maskedRequestPath, "/")[1]) ++ "/") with ""]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		 <http:request config-ref="http-request-config" method="#[attributes.method]" path="#[attributes.maskedRequestPath]">
            <http:headers>#[vars.proxyRequestHeaders]</http:headers>
            <http:uri-params>#[attributes.uriParams]</http:uri-params>
            <http:query-params>#[attributes.queryParams]</http:query-params>
            <http:response-validator>
                <http:success-status-code-validator values="0..599"/>
            </http:response-validator>
        </http:request>
		
		
	</flow>
</mule>
